@import "bootstrap";

html, body {
  margin: 20 0px;
}

.page-header a h1 {
  color: #555;
}

.list-wrapper {
  margin-left: 0;
  margin-right: 0;
}

.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

/* */
.empty-list {
  min-height: 100px;
  text-align: center;
}

.empty-list .empty-message {
  display: inline-block;
  color: #555;
  line-height: 100px;
}

.character-link .pointer {
  float: right;
  display: none;
}

.character-link.active .pointer {
  display: block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.view-selection {
  margin: 20px 0px;
}
