@import "bootstrap";

html, body {
  margin: 20 0px;
}

/* */
.empty-list {
  min-height: 100px;
  text-align: center;
}

.empty-list .empty-message {
  display: inline-block;
  color: #555;
  line-height: 100px;
}

.character-link {
  font-weight: bold;
}

.character-link .pointer {
  float: right;
  display: none;
}

.character-link.active .pointer {
  display: block;
}

.character-real-name {
  font-weight: normal;
}

.view-selection {
  margin: 20px 0px;
}

.character-quote-name {
  font-weight: bold;
}

.character-quote-name-selected {
  color: #337ab7;
}

.coverflow {
  margin: 30px 30px;
}
