<div class="col-md-3">
  <div class="list-group">
    {{#each model as |character|}}
      {{#link-to "characters.character.quotes" character class="list-group-item
character-link"}}
        {{character.name}}
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>