<div class="coverflow">
  {{#jquery-coverflow
    select=selectCoverFlowCallback
    density=1
    enableClick=true
    enableKeyboard=true
    enableWheel=false
    index=selectedIndex
    innerAngle=190
    innerScale=0.75
    innerOffset=60
    outerAngle=100
    outerScale=0.10
    width=214}}
    {{#each model as |character|}}
      {{#jquery-coverflow-cover}}
        <img src="assets/characters/{{character.slug}}.jpg"/>
      {{/jquery-coverflow-cover}}
    {{/each}}
  {{/jquery-coverflow}}
</div>

<div class="col-md-3">
  <div class="list-group">
    {{#each model as |character|}}
      {{#link-to "characters.character.quotes" character class="list-group-item
character-link"}}
        {{character.name}}<br/><span class="character-real-name">{{character.realName}}</span>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-9">
  <div class="list-group">
    {{outlet}}
  </div>
</div>