<div class="col-md-3">
  <div class="list-group">
    {{#each model as |character|}}
      {{#link-to "characters.character.quotes" character class="list-group-item
character-link"}}
        {{character.name}}<br/><span class="character-real-name">{{character.realName}}</span>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-9">
  <div class="list-group">
    {{outlet}}
  </div>
</div>